*{
    margin: 0;
    padding: 0;
}

/* Universal Styles */

body, button{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
}

a{
    text-decoration: none;
    color: #5A6175;
}

a:hover{
    font-weight: bold;
}

.accent-color{
    color: #F58B44;
}

body.log-in{
    background: url("assets/Background-01.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: right;
}

/* Header / Nav Section */

header{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app header{
    border-bottom: 1px solid #F58B44;
}

header img{
    height: 2em;
    padding-right: 10px;
}

.logo-section{
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

nav ul{
    list-style-type: none;
    padding-top: 5px;
}

nav li{
    padding-top: 10px;
}

/* Offsetting Log In + button by double padding */
nav li:nth-child(5){
    padding-top: 20px;
}

nav button{
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #ffffff;
    border: 2px solid #a07558;
    border-radius: 20px;
}

/* Main Section */

main{
    display: flex;
}

.log-in main{
    min-height: 650px;
}

.centered{
    justify-content: center;
    align-items: center;
}

.left{
    justify-content: flex-start;
}

.container{
    background-color: #ffffff;
    padding: 20px;
    width: 350px;
    height: 500px;
    text-align: center;
    color: #5A6175;
}

/* Log in Section */
.log-in-section h1{
    text-transform: none;
    font-size: 2.5em;
    padding: 15px;
}

.log-in-section span{
    padding-left: 5px;
}


/* Form Section for email/password */
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #BABAC4;
}

input{
    height: 30px;
    border:none;
    border-bottom: 1px solid #BABAC4;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
}
/* Could use input[type =email and password] to only make them tall without making the input spacing wonky*/

input::placeholder{
    color: #BABAC4;
    font-size: 1.25em;
}

#forgot{
    text-align: right;
    color: #BABAC4;
}

.checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.checkbox span{
    padding-left: 5px;
    margin-bottom: 12px;
}


/* Button Section */
.button-section{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input[type="submit"]{
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.log-in-button{
    height: 50px;
    margin: 8px 0;
    background-color: #5A6175;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

#facebook{
    background-color: #559AD1;
}

#spotify{
    background-color: #39BD59;
}

/* App Page Styles <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.menu{
    height: calc(100vh - 160px);
    background-color: rgb(40, 41, 66);
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    padding-top: 10px;
}

.menu a{
    color: white;
}

.menu a:hover{
    font-weight: bold;
}



/* Desktop Styling */

@media only screen and (min-width: 768px){
    header{
        height: 30px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    main{
        height: calc(100vh - 70px);
    }

    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 0;
    }

    nav li{
        padding-left: 20px;
        padding-top: 0;
    }
    
    nav li:nth-child(5){
        padding-left: 40px;
        padding-top: 0;
    }

    nav button{
        margin-left: 10px;
        margin-top: 0;
    }

    .menu{
        height: calc(100vh - 110px);
    }
}